.section {
  margin-right: 0px;
  margin-left: 0px;
  padding: 10% 20% 20%;
}

.section-2 {
  padding: 5% 20% 10%;
}

.heading {
  margin-bottom: 0px;
  font-family: ibm-plex-sans, sans-serif;
  color: #000;
  font-size: 70px;
  font-weight: 800;
}

.text-block {
  display: inline;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 20px;
}

.text-block-2 {
  display: inline;
}

.text-block-3 {
  display: inline;
  margin-right: 5px;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 20px;
  text-decoration: line-through;
}

.div-block-12 {
  margin-top: -15px;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-left: 15px;
}

.image-21 {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  padding-left: 0px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
}

.paragraph-7 {
  display: inline;
  margin-bottom: 0px;
  padding: 10px;
  font-family: ibm-plex-mono, sans-serif;
  font-style: italic;
  font-weight: 700;
}

.droplinky4 {
  padding: 15px 15px 15px 10%;
  color: #8a57c2;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.heading-17 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: ibm-plex-sans, sans-serif;
}

.image-22 {
  display: block;
}

.dropcontent {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #0062ff;
  text-align: left;
}

.div-block-8 {
  display: inline;
  width: auto;
  max-width: 60%;
  margin-top: 20px;
  padding: 10px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 0px 20px 20px;
  background-color: #94fdc2;
  opacity: 1;
}

.droplinky {
  display: block;
  padding: 15px 15px 15px 10%;
  color: #fff;
  text-decoration: none;
}

.heading-18 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 4px none #8a48d3;
  font-family: ibm-plex-sans, sans-serif;
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

.div-block-11 {
  height: 0px;
  margin-bottom: 25px;
}

.section-9 {
  position: static;
  top: 0px;
  z-index: 100;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  padding: 5% 10% 0%;
  background-color: #fff;
}

.link {
  color: #0065be;
  text-decoration: underline;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.image-24 {
  display: inline;
  cursor: pointer;
}

.div-block-7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-7 {
  padding: 50px 15px 0px 10%;
  font-family: ibm-plex-sans, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.droptrig {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-5 {
  position: relative;
  display: block;
  width: 40%;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  padding: 2em 10%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.wrapper-hidden-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100vh;
  padding: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #408bfc;
  -webkit-transform: translate(-120%, 0px);
  -ms-transform: translate(-120%, 0px);
  transform: translate(-120%, 0px);
}

.container-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper-hamburger {
  position: relative;
  z-index: 99999;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-13 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-19 {
  font-family: ibm-plex-sans, sans-serif;
  color: #000;
}

.heading-20 {
  color: #000;
}

.heading-21 {
  color: #000;
}

.paragraph-8 {
  margin-bottom: 20px;
  font-family: ibm-plex-sans, sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 24px;
}

.italic-text {
  font-style: normal;
}

.bold-text {
  color: #054ada;
}

.button {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #0062ff;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 18px;
}

.heading-22 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: ibm-plex-sans, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 44px;
  font-weight: 800;
}

.text-block-8 {
  font-family: ibm-plex-mono, sans-serif;
  color: #777;
  font-weight: 600;
}

.heading-23 {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 15px;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.paragraph-2 {
  margin-bottom: 10px;
  font-family: ibm-plex-sans, sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 22px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-2 {
  display: block;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #0062ff;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 16px;
}

.grid {
  grid-template-areas: "Area Area-2" "Area-3 Area-4";
}

.columns-2 {
  margin-top: 5%;
}

.heading-24 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: ibm-plex-sans, sans-serif;
  color: #000;
  font-size: 32px;
}

.paragraph-9 {
  font-family: ibm-plex-sans, sans-serif;
  color: #333;
  font-size: 16px;
}

.paragraph-3 {
  padding-left: 20px;
  font-family: ibm-plex-sans, sans-serif;
  color: #444;
  font-size: 16px;
  font-weight: 300;
}

.column-2 {
  padding-right: 30px;
}

.column-3 {
  padding-left: 30px;
}

.columns-3 {
  margin-top: 2em;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-3 {
  padding: 5% 20% 15%;
}

.section-10 {
  padding: 5% 20%;
  background-color: #000;
}

.heading-25 {
  margin-bottom: 20px;
  font-family: ibm-plex-sans, sans-serif;
  color: #fff;
  font-size: 50px;
}

.paragraph-10 {
  font-family: ibm-plex-sans, sans-serif;
  color: #eee;
  font-size: 16px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.button-3 {
  border-style: none;
  border-width: 2px;
  border-color: #0062ff;
  border-radius: 10px;
  background-color: #fff;
  font-family: ibm-plex-sans, sans-serif;
  color: #0062ff;
  font-size: 16px;
}

.paragraph-4 {
  margin-bottom: 5%;
  font-family: ibm-plex-sans, sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 22px;
}

.button-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  font-family: ibm-plex-sans, sans-serif;
  color: #0062ff;
  font-size: 16px;
}

.button-5 {
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #0062ff;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 16px;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-9 {
  padding-left: 10px;
  font-family: ibm-plex-mono, sans-serif;
  color: #eee;
  font-size: 12px;
  font-style: italic;
}

.text-block-4 {
  padding-left: 10px;
  font-family: ibm-plex-mono, sans-serif;
  font-style: italic;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  display: block;
  text-decoration: none;
}

.link-block-2 {
  display: block;
  text-decoration: none;
}

.link-block-3 {
  display: block;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-25 {
  display: block;
  margin-left: 90%;
}

.section-11 {
  height: 0px;
}

@media (max-width: 991px) {
  .div-block-8 {
    display: inline;
  }
  .heading-18 {
    font-size: 22px;
  }
  .div-block-5 {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }
  .heading-18 {
    font-size: 18px;
  }
  .section-9 {
    position: static;
  }
  .div-block-5 {
    width: 80%;
  }
  .wrapper-hidden-menu {
    width: 100%;
  }
  .columns {
    display: block;
  }
  .column-2 {
    padding-right: 10px;
  }
  .column-3 {
    padding-left: 10px;
  }
  .column-4 {
    margin-bottom: 2em;
  }
}

@media (max-width: 479px) {
  .paragraph-7 {
    display: inline;
    padding-right: 0px;
    padding-left: 10px;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding-left: 15px;
  }
  .section-9 {
    margin-right: 0%;
  }
  .div-block-6 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-24 {
    display: inline-block;
  }
  .div-block-7 {
    width: 20%;
  }
  .droptrig {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
  }
  .div-block-5 {
    display: block;
    overflow: visible;
    width: 80%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .container-nav {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .column-2 {
    padding-right: 10px;
  }
  .column-3 {
    padding-left: 10px;
  }
}

